@model Developer.Models.ViewModels.AdminAdvertToAdd
@using (Html.BeginForm("Add", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    Html.AntiForgeryToken();
    <div class="form-group-sm">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <small><b>Tytuł:</b></small>
                        @Html.EditorFor(model => model.Flat.Title, new { htmlAttributes = new { @class = "form-control", @style = "max-width: none" } })
                    </div>
                    <div class="col-md-6">
                        <small><b>Cena:</b></small>
                        @Html.EditorFor(model => model.Flat.Price, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <small>Miasto:</small>
                        @Html.EditorFor(model => model.Flat.City, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-6">
                        <small>Lokalizacja:</small>
                        @Html.EditorFor(model => model.Flat.Location, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <small>Powierzchnia:</small>
                        @Html.EditorFor(model => model.Flat.Area, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-6">
                        <small>Kondygnacja:</small>
                        @Html.EditorFor(model => model.Flat.Storey, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <small>Stan techniczny:</small>
                        @Html.EditorFor(model => model.Flat.TechnicalCondition, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-6">
                        <small>Liczba pokoi:</small>
                        @Html.EditorFor(model => model.Flat.Rooms, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <small>Ogrzewanie:</small>
                        @Html.EditorFor(model => model.Flat.Heating, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-6">
                        <small>Czynsz:</small>
                        @Html.EditorFor(model => model.Flat.Rent, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <small>Forma własności:</small>
                        @Html.EditorFor(model => model.Flat.Ownership, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-6">
                        <small>Cena za m<sup>2</sup>:</small>
                        @Html.EditorFor(model => model.Flat.PricePerMeter, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <small>Opis:</small>
                        @Html.EditorFor(model => model.Flat.Description, new { htmlAttributes = new { @class = "form-control", @style = "resize: none; max-width: none; height:200px" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <small>Szczegóły:</small>
                        @Html.EditorFor(model => model.Flat.Details, new { htmlAttributes = new { @class = "form-control", @style = "resize: none; max-width: none; height:200px" } })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <small>Typ ogłoszenia:</small>
                        @Html.DropDownListFor(model => model.Flat.ToLet, new SelectList(new Dictionary<string, bool>() { { "Sprzedaż", false }, { "Wynajem", true } }, "value", "key"), new { @class = "form-control", @style = "max-width:none" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <small>Osoba prowadząca:</small>
                        @Html.DropDownListFor(model => model.Flat.Worker, new SelectList(Model.Workers, "Id", "FullName"), new { @class = "form-control", @id = "workers", @style = "max-width:none" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <small>Zdjęcia:</small>
                        <input type="file" multiple class="form-control" id="Flat_Files" name="Flat.Files"/>
                    </div>
                </div>
                <input type="hidden" id="AdType" name="AdType" value="Flat" />
                <div class="row">
                    <div class="col-md-12" style="text-align: center; margin-top: 10px">
                        <button type="submit" class="btn btn-xs btn-success" style="width: 150px">Zapisz</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
